<?xml version="1.0" encoding="utf-8" ?>
<plugin
    id="com.sn_dva_poc"
    name="DVA POC"
    scope_name="sn_dva_poc"
    scope_sys_id="aaaabbbbccccddddeeeeffff00001111"
    version="1.0.0"
    help="yes:please"
    provider_name="codeql-snow-poc"
    onload_demo_data="load_demo_data.js"
    state="development"
    type="application"
    licensable="true">

    <description>poc</description>
    <requires>
        <import plugin="com.glide.explicit_roles"/>
    </requires>
</plugin>